address: 0.0.0.0   # Running in a container, this makes sense
port: 9348         # Listen port
timeout: 60        # HTTP timeout (in seconds) for Redfish API calls
retries: 10         # Number of retries before a target is marked as unreachable
hosts:
  default:
    username: $IDRAC_USERNAME
    password: $IDRAC_PASSWORD
metrics:
  system: true
  sensors: true
  power: true
  sel: true       # iDRAC only
  storage: true
  memory: true
