address: 0.0.0.0   # Running in a container, this makes sense
port: 9348         # Listen port
timeout: 60        # HTTP timeout (in seconds) for Redfish API calls
hosts:
  default:
    username: "$IDRAC_USERNAME"
    password: "$IDRAC_PASSWORD"
metrics:
  system: true
  sensors: true
  power: true
  events: true
  storage: true
  memory: true
  network: true
